In [1]:
# string 

x = 'frog'
print(x[3])

# Lists 
names = ['Ali', 'Jeff', 'Tom', 'Bob']
print(names[3])


#Tuples 

y = ('Kevin', 'Ilhan', 'Omar', 'Fatma')

print(y[2])

g
Bob
Omar

In [2]:
#string 

x = 'computer'

print(x[2:5])
print(x[1:6:2])
print(x[2:])
print(x[:5])
print(x[:-1])

mpu
opt
mputer
compu
compute

# combine 2 sequences of the same type using +

In [3]:
# String 
x = "Horse" + "shoe"
print(x)

#list 
y = ["cow", "dog"] + ["cat"]
print(y)


#tuple 

z = ("sheep", "goat") + ("chicken",)

print(z)

Horseshoe
['cow', 'dog', 'cat']
('sheep', 'goat', 'chicken')

# Multiply a sequence by *

In [4]:
# string 

x = 'bingo'*3
print(x)

#list
y = [1,2,3] * 3 
print(y)

#tuple
z = (1997, 2021) *2
print(z)

bingobingobingo
[1, 2, 3, 1, 2, 3, 1, 2, 3]
(1997, 2021, 1997, 2021)

# Test whether an item is or is not in a sequence

In [5]:
# string 
x = 'bug'

print('u' in x)


#list 
y = ['car', 'truck', 'train', 'plane']

print('plane' not in y )

#tuple 
z = ('cat', 'dog', 'snake', 'owl')

print('car' in z)

True
False
False

# Iterating through the items in the list

In [7]:
# item 
x = [1, 4, 6, 7]
for item in x:
    print(item)
    
# item and index 

y = [2, 4, 5, 5, 6, 7]

for index, item in enumerate(y):
    print(index, item)

1
4
6
7
0 2
1 4
2 5
3 5
4 6
5 7

# Count number of items in a sequence

In [10]:
#string 

x = 'hospital'

print(len(x))

#list 

y = ['cow', 'dog', 'cat', 'fog', 'snake']

print(len(y))

#tuple 

c = ('animals', 'trees', 'insects')

print(len(c))

8
5
3

# find the minimum item in a list lexicographically

In [17]:
x = "animals"

print(min(x))
print(max(x))

y = ['camel', 'dog', 'bee', 'cat']
print(min(y))
print(max(y))

v = ('house', 'tree', 'jack')
print(min(v))
print(max(v))

a
s
bee
dog
house
tree

# Sum the values in a sequence

In [20]:
y = [9, 4, 3, 2, 5 , 6]
print(sum(y))
print(sum(y[-2:]))

z = (8, 1, 2, 3, 4, 5 )
print(sum(y))

29
11
29

# Sorting - returns a new list of items in sorted order

In [26]:
x = "animals"
print(sorted(x))

y = ['camel', 'dog', 'bee', 'cat','house', 'tree', 'jack']
print(sorted(y))

v = ('house', 'tree', 'jack')
print(sorted(v))

['a', 'a', 'i', 'l', 'm', 'n', 's']
['bee', 'camel', 'cat', 'dog', 'house', 'jack', 'tree']
['house', 'jack', 'tree']

# Sort by a second letter

In [29]:
z = ['camel', 'dog', 'bee', 'cat','house', 'tree', 'jack']

print(sorted(z, key = lambda k: k[1]))

['camel', 'cat', 'jack', 'bee', 'dog', 'house', 'tree']

In [65]:
# sort the list in place

i = [3, 1212, 4, 5, 5, 6, 6, 7, 7]
i.sort()
print(i)

[3, 4, 5, 5, 6, 6, 7, 7, 1212]

# Count the number of elements

In [34]:
x = 'courtesy'

print(x.count('s'))


z = ['camel', 'dog', 'bee', 'cat','house', 'tree', 'jack', 'camel', 'camel']
print(z.count('camel'))

y = ('house', 'tree', 'jack')
print(y.count('tree'))

1
3
1

# return first index of an item

In [37]:
x = 'courtesy'
print(x.index('c'))

z = ['camel', 'dog', 'bee', 'cat','house', 'tree', 'jack', 'camel', 'camel']
print(z.index('tree'))

y = ('house', 'tree', 'jack')
print(y.index('jack'))

0
5
2

# unpack the n items of a sequence into n variable

In [39]:
x = ['camel', 'dog', 'bee']

a, b, c = x 

print(a, b, c )

camel dog bee

# Lists

In [45]:
# you can create an empty list 

x = list()

y = [3, 'dog', 2.44]

tuples = (45, 82)

z = list(tuples)
print(z)

[45, 82]

In [47]:
# list comprehension 

a = [m for m in range(10)]
print(a)

b = [i**2 for i in range(10) if i>4]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[25, 36, 49, 64, 81]

# Delete element in list

In [51]:
x = [3, 4, 5, 5, 6, 6, 7, 7]

del x[1]

print(x)

del x

[3, 5, 5, 6, 6, 7, 7]

# Append a list

In [53]:
x = [3, 4, 5, 5, 6, 6, 7, 7]

x.append(32)

print(x)

[3, 4, 5, 5, 6, 6, 7, 7, 32]

In [54]:
x = [3, 4, 5, 5, 6, 6, 7, 7]

y = [12, 45, 54, 32, 52]

x.extend(y)
print(x)

[3, 4, 5, 5, 6, 6, 7, 7, 12, 45, 54, 32, 52]

# Insert values in a list

In [57]:
x = [3, 4, 5, 5, 6, 6, 7, 7]

x.insert(1, 1212)

print(x)


x.insert(1, ['ak', 'po'])
print(x)

[3, 1212, 4, 5, 5, 6, 6, 7, 7]
[3, ['ak', 'po'], 1212, 4, 5, 5, 6, 6, 7, 7]

# Pop item of list

In [59]:
x = [2, 121, 14, 54, 65]

x_popped = x.pop()

print(x)
print(x_popped)

[2, 121, 14, 54]
65

# Remove first instance of an item

In [61]:
x = [3, 4, 5, 5, 6, 6, 7, 7]

x.remove(5)

print(x)

[3, 4, 5, 6, 6, 7, 7]

# Reverse the order of the list

In [62]:
v = [3, 1212, 4, 5, 5, 6, 6, 7, 7]

v.reverse()

print(v)

[7, 7, 6, 6, 5, 5, 4, 1212, 3]

In [66]:
#sort items in descending order 

v = [3, 1212, 4, 5, 5, 6, 6, 7, 7]

v.sort(reverse = True)

print(v)

[1212, 7, 7, 6, 6, 5, 5, 4, 3]

# Tuples

- Immutable 
- Useful for fixed data 
- Faster than lists 
- Sequence type

In [68]:
x = ()

x = (1,2, 3)

y =1, 2, 3

v = 5, 

print(v, type (v))

list1= [1,2,3]

x = tuple(list1)

print(x, type(x))

(5,) <class 'tuple'>
(1, 2, 3) <class 'tuple'>

In [5]:
# tuples are immutable, but member objects may be mutable

x = (1, 2, 3)

print(x)

y= ([1, 2], 5)
print(y)
del(y[0] [1])
print(y)

y += 4,

print(y)

(1, 2, 3)
([1, 2], 5)
([1], 5)
([1], 5, 4)

# Sets 

- Store non-duplicate items 
- Very fast access vs lists 
- Math Set ops 
- Sets are unordered

In [8]:
x = {4, 5, 3, 3, 4, 5, 6, 6}
print(x)

y = set()
print(y)

lists = [1, 2, 3, 4, 5, 6]
print(set(lists))

{3, 4, 5, 6}
set()
{1, 2, 3, 4, 5, 6}

In [18]:
x = {4, 5, 3, 3, 4, 5, 6, 6}
x.add(8)
print(x)

x.remove(4)
print(x)

print(len(x))

print(5 in x)

print(3 not in x)

print(x.pop(), x)


x.clear()
print(x)

{3, 4, 5, 6, 8}
{3, 5, 6, 8}
4
True
False
3 {5, 6, 8}
set()

# Mathematical Operations 

- intersection (AND) set1 & set2 
- union (OR) set1 | set2
- symmetric difference set1 ^ set2 difference (in set1 but not set2) set1 - set2 
- subset set1 <= set2
- superset set1 >= set2

In [30]:
s1 = {1, 2, 3}
s2 = {3, 2, 4, 8, 9}

print(s1 & s2)
print(s1 | s2)
print(s1 ^ s2)
print(s2 - s1)
print(s1 - s2)

print(s1 <= s2)
print(s2 <= s1)

print(s1 >= s2)
print(s2 >= s1)

{2, 3}
{1, 2, 3, 4, 8, 9}
{1, 4, 8, 9}
{8, 9, 4}
{1}
False
False
False
False

# Dictionaries 

- key/value pairs 
- dicts are unorders

In [35]:
# three different ways of creating dictionaries

x = {'beef': 23.50, 'lamb': 43.21, 'chiken': 12.50}

x = dict([('beef', 23.50), ('lamb', 43.21), ('chiken', 12.50)])

x = dict(beef = 23.50, lamb = 43.32, chiken = 21.21)
print(x)

{'beef': 23.5, 'lamb': 43.32, 'chiken': 21.21}

In [47]:
# add or update a dict 

x['shrimp'] = 45
.33
print(x)

del(x['shrimp'])
print(x)

x['beef'] = 55.22
print(x)

print(len(x))

# delete all items from dict x

x.clear()
print(x)

del(x)

{'shrimp': 45}
{}
{'beef': 55.22}
1
{}

In [54]:
# accessing keys and values in dict 

y = {'Honda': "grey", "BMW":"blue", "Toyota": "white"}

print(y.values())
print(y.keys())
print(y.items())


print('BMW' in y)

print('Nissan'in y.values())

dict_values(['grey', 'blue', 'white'])
dict_keys(['Honda', 'BMW', 'Toyota'])
dict_items([('Honda', 'grey'), ('BMW', 'blue'), ('Toyota', 'white')])
True
False

# iterating a dict

In [57]:
for key in y: 
    print(key, y[key])
    
for k, v in y.items():
    print(k,v)

Honda grey
BMW blue
Toyota white
Honda grey
BMW blue
Toyota white

In [7]:
animals = ["dog", "cat", "lion"]

animals[0] = "rat"
animals 

name = (["dog"], "cat", "lion")
name[0] = ["rat"]
name

TypeError: 'tuple' object does not support item assignment